:root {
  --border-radius: 25px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: #f9f7f5;
}
a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
