/* ---------------- Font ---------------- */
@font-face {
  font-family: "TerminaTest-Demi";
  src: url(/fonts/TerminaTest/TerminaTest-Demi.otf);
  font-display: swap;
}
@font-face {
  font-family: "TerminaTest-Medium";
  src: url(/fonts/TerminaTest/TerminaTest-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "sweet-purple";
  src: url(/fonts/sweet-purple.otf);
  font-display: swap;
}
/* ---------------- Page ---------------- */
.page {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "LufgaRegular";
}
/* ---------------- HeroSection ---------------- */
.HeroSection {
  height: calc(100dvh - 2rem);
  width: calc(100vw - 2rem);
  background-color: white;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: "LufgaRegular";
  position: relative;
}
.HeroSection .substituteFooter {
  height: 126px;
  width: 100%;
}
.HeroSection .hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  z-index: 101;
  /* margin-bottom: 10%; */
}
.HeroSection .hero_content .headTexts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  transition: 0.5s;
}
.HeroSection .hero_content .headTexts .heading {
  position: relative;
  opacity: 0;
}
.HeroSection .hero_content .headTexts .heading h2 {
  font-family: "TerminaTest-Demi";
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.2;
  transition: opacity 0.3s;
  text-align: center;
}
.HeroSection .hero_content .headTexts .heading h2 span {
  color: #b0b0b0;
}
.HeroSection .hero_content .headTexts .heading h2:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  white-space: nowrap;
  opacity: 0;
}
.HeroSection .hero_content .headTexts .title {
  font-family: "LufgaRegular";
  direction: ltr;
  color: #b0b0b0;
  opacity: 0;
}
.HeroSection .hero_content .headTexts .title span {
  position: relative;
  transition: opacity 0.3s;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.HeroSection .hero_content .headTexts .title span:nth-child(1) p {
  top: -25px;
  right: -80px;
  position: absolute;
  color: #001aff;
  font-family: "sweet-purple";
  font-size: 20px;
  opacity: 1;
}
.HeroSection .hero_content .headTexts .title span:nth-child(1) img {
  top: -2px;
  right: -25px;
  position: absolute;
  width: 17px;
  height: auto;
}
.HeroSection .hero_content .headTexts .title .ourPartners {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 70px;
  width: 41.5rem;
  border: 2px solid #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 20px;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -1;
}
.HeroSection.ar .hero_content .headTexts .title {
  direction: rtl;
}
.HeroSection .hero_content .hero_cards {
  gap: 0.75rem;
  width: 41.5rem;
  height: 12.5rem;
  display: flex;
  position: relative;
  z-index: 99;
}
.HeroSection .hero_content .hero_cards .card {
  position: relative;
  border: 2px solid #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 20px;
  flex: 1 1 0;
  transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  font-family: "TerminaTest-Medium";
  cursor: pointer;
  opacity: 0;
}
.HeroSection .hero_content .hero_cards .card .status {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.HeroSection .hero_content .hero_cards .card .status p {
  font-family: "LufgaRegular";
  font-size: 11px;
  color: #626262;
}
.live_indicator {
  width: 6px;
  height: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live_indicator .red_dot,
.live_indicator .pulse {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 18px;
  background-color: #2ce733;
}
.live_indicator .pulse {
  animation-name: red-dot-scale-fade;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.live_indicator .pulse.two {
  animation-delay: 0.25s;
}
@keyframes red-dot-scale-fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.HeroSection .hero_content .hero_cards .card:hover {
  flex: 1.4 1.4 0;
}
.HeroSection .hero_content .hero_cards .card img {
  pointer-events: none;
  /* height: 7.5rem; */
  height: 100%;
  /* width: auto; */
  vertical-align: middle;
  object-fit: contain;
}
.HeroSection .hero_content .hero_cards .card p {
  font-family: "LufgaRegular";
  color: #000;
  font-size: 16px;
}
/* ---------------- imagesWorkCard ---------------- */
.HeroSection .imagesWorkCard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: visibility 0s 0.52s linear;
}
.HeroSection .imagesWorkCard.active {
  visibility: visible;
  transition: visibility 0s;
}
.HeroSection .imagesWorkCard .image:nth-child(1) {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 9%;
  bottom: auto;
  left: 6%;
  right: auto;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(2) {
  position: absolute;
  width: 20vw;
  height: auto;
  top: 8%;
  bottom: auto;
  left: auto;
  right: 5%;
  opacity: 0;
  transition: opacity 0.3s 0.05s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(3) {
  width: 30vw;
  position: absolute;
  height: auto;
  top: auto;
  bottom: -3%;
  left: 4%;
  right: auto;
  opacity: 0;
  transition: opacity 0.3s 0.1s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(4) {
  width: 20vw;
  position: absolute;
  height: auto;
  top: auto;
  bottom: 6%;
  left: auto;
  right: 7%;
  transform: rotate(4deg);
  opacity: 0;
  transition: opacity 0.3s 0.15s linear;
}
.HeroSection .imagesWorkCard.active .image:nth-child(1),
.HeroSection .imagesWorkCard.active .image:nth-child(2),
.HeroSection .imagesWorkCard.active .image:nth-child(3),
.HeroSection .imagesWorkCard.active .image:nth-child(4) {
  opacity: 1;
}
.HeroSection .imagesWorkCard .image img {
  width: 100%;
  height: 100%;
}
.HeroSection .imagesWorkCard .image {
  position: absolute;
}
.HeroSection .imagesWorkCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 15%, #fff);
}
/* ---------------- cardsServicesCard ---------------- */
.HeroSection .cardsServicesCard {
  gap: 0.5rem;
  width: 53rem;
  height: 13rem;
  position: absolute;
  top: auto;
  bottom: 3%;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 100; */
  visibility: hidden;
  transition: visibility 0s 0.8s linear;
}
.HeroSection .cardsServicesCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .cardsServicesCard .card {
  gap: 1.5rem;
  background-image: linear-gradient(52deg, #f1f1f1, #f7f7f7);
  border-radius: 20px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 3.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  overflow: hidden;
  /* transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s linear; */
  opacity: 0;
  transform: translateY(40px);
}
.HeroSection .cardsServicesCard .card p {
  line-height: 1.25;
  align-self: stretch;
  text-align: start;
}
.HeroSection .cardsServicesCard .card img {
  border-radius: 12px;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
.HeroSection .cardsServicesCard .card:nth-child(3) img:nth-child(3) {
  border-radius: 12px;
  width: 2.5rem;
  position: absolute;
  top: 52%;
  bottom: auto;
  left: auto;
  right: 3%;
}
.HeroSection .cardsServicesCard .card:nth-child(1) {
  transition: transform 0.8s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s 0.05s linear;
}
.HeroSection .cardsServicesCard .card:nth-child(2) {
  transition: transform 0.8s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s 0.1s linear;
}
.HeroSection .cardsServicesCard .card:nth-child(3) {
  transition: transform 0.8s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s 0.15s linear;
}
.HeroSection .cardsServicesCard.active .card {
  transform: translateY(0);
  opacity: 1;
}
/* ---------------- cardsServicesCard ---------------- */
.HeroSection .cardsAboutCard {
  width: 100%;
  max-width: 51rem;
  height: 35vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
  /* z-index: 100; */
  visibility: hidden;
  transition: visibility 0s linear;
}
.HeroSection .cardsAboutCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .cardsAboutCard .image:nth-child(1) {
  border-radius: 14px;
  width: 11.25rem;
  height: 15rem;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 1s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(2) {
  border-radius: 14px;
  width: 11.5rem;
  height: 6rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: 9%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 1s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(3) {
  border-radius: 14px;
  width: 11.25rem;
  height: 15rem;
  position: absolute;
  top: auto;
  bottom: 22%;
  left: auto;
  right: 11%;
  overflow: hidden;
  transform: translateY(50%);
  transition: 1s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(4) {
  border-radius: 14px;
  width: 11.25rem;
  height: 10rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: auto;
  right: 2%;
  overflow: hidden;
  transform: translateY(50%);
  transition: 1s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(5) {
  border-radius: 14px;
  height: 18rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: 30%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 1s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image img {
  object-fit: cover;
  object-position: 50% 24%;
  width: 100%;
  height: 100%;
}

.HeroSection .cardsAboutCard.active .image:nth-child(1),
.HeroSection .cardsAboutCard.active .image:nth-child(2),
.HeroSection .cardsAboutCard.active .image:nth-child(3),
.HeroSection .cardsAboutCard.active .image:nth-child(4),
.HeroSection .cardsAboutCard.active .image:nth-child(5) {
  transform: translateY(0);
  opacity: 1;
}
/* ---------------- cardsPlansCard ---------------- */
.HeroSection .hero_content .hero_cards .cardsPlansCard {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 30%;
  bottom: auto;
  left: auto;
  right: -20%;
  visibility: hidden;
  transition: visibility 0s 0.3s linear;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag {
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
  width: 100%;
  opacity: 0;
  align-self: stretch;
  text-align: start;
  font-family: "LufgaRegular";
  min-width: 110px;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard.active .plan_tag {
  opacity: 1;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(1) {
  z-index: 3;
  background-color: #f1f1f1;
  left: 10%;
  transition: 1s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(2) {
  z-index: 2;
  background-color: #ffe2c3;
  transition: 1s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(3) {
  z-index: 1;
  background-color: #dfd2fd;
  transition: 1s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 10%;
}
.HeroSection
  .hero_content
  .hero_cards
  .cardsPlansCard.active
  .plan_tag:nth-child(1) {
  transform: rotate(-2deg);
}
.HeroSection
  .hero_content
  .hero_cards
  .cardsPlansCard.active
  .plan_tag:nth-child(3) {
  transform: rotate(2deg);
}
/* ---------------- Overlay Work Card ---------------- */
.HeroSection .overlayWorkCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear, backdrop-filter 0.3s 0.3s linear,
    background-color 0.3s 0.3s linear;
  cursor: pointer;
}
.HeroSection .overlayWorkCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear, backdrop-filter 0.3s linear,
    background-color 0.3s linear;
}
.HeroSection .overlayWorkCard .contanier {
  cursor: default;
  width: 100%;
  max-width: 62.5rem;
  min-height: 52rem;
  height: 46rem;
  border-radius: 30px;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.HeroSection .overlayWorkCard .contanier img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.HeroSection .overlayWorkCard.active .contanier {
  opacity: 1;
}
.HeroSection .overlayWorkCard .contanier::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* ---------------- Overlay Services Card ---------------- */
.HeroSection .overlayServicesCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear, backdrop-filter 0.3s 0.3s linear,
    background-color 0.3s 0.3s linear;
  cursor: pointer;
}
.HeroSection .overlayServicesCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear, backdrop-filter 0.3s linear,
    background-color 0.3s linear;
}
.HeroSection .overlayServicesCard .contanier {
  background-color: white;
  padding: max(1rem, min(4rem, 5vw));
  cursor: default;
  width: 100%;
  /* max-width: 36.25rem; */
  max-width: 46rem;
  min-height: 46rem;
  height: 46rem;
  border-radius: 30px;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  gap: 2.5rem;
}
.HeroSection.ar .overlayServicesCard .contanier {
  direction: rtl;
}
.HeroSection .overlayServicesCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayServicesCard .contanier::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.HeroSection .overlayServicesCard .contanier .head {
  gap: 0.5rem;
  flex-direction: column;
  display: flex;
}
.HeroSection .overlayServicesCard .contanier .head h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  font-family: "TerminaTest-Demi";
}
.HeroSection .overlayServicesCard .contanier .head p {
  color: #727272;
  font-weight: 500;
  line-height: 1.25;
  font-size: 14px;
}
.HeroSection .overlayServicesCard .contanier .head ul {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}
.HeroSection .overlayServicesCard .contanier .head ul li {
  color: #727272;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 14px;
}
.HeroSection .overlayServicesCard .contanier .services {
  gap: 0.5rem;
  flex-direction: column;
  display: flex;
}
/* ---------------- Overlay About Card ---------------- */
.HeroSection .overlayAboutCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayAboutCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayAboutCard .contanier {
  background-color: white;
  padding: max(1rem, min(4rem, 5vw));
  cursor: default;
  width: 100%;
  /* max-width: 36.25rem; */
  max-width: 40rem;
  min-height: 46rem;
  height: 46rem;
  border-radius: 30px;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  gap: 2.5rem;
}
.HeroSection.ar .overlayAboutCard .contanier {
  direction: rtl;
}
.HeroSection .overlayAboutCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayAboutCard .contanier::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.HeroSection .overlayAboutCard .contanier .headTexts {
  gap: 0.5rem;
  flex-direction: column;
  display: flex;
}
.HeroSection .overlayAboutCard .contanier .headTexts h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  font-family: "TerminaTest-Demi";
}
.HeroSection .overlayAboutCard .contanier .headTexts p {
  color: #727272;
  font-weight: 500;
  line-height: 1.25;
  font-size: 14px;
}
.HeroSection .overlayAboutCard .contanier .about_teamCards {
  gap: 0.5rem;
  columns: 2;
}
.HeroSection .overlayAboutCard .contanier .mission {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.HeroSection .overlayAboutCard .contanier .mission h2 {
  font-weight: 600;
  line-height: 1;
  font-family: "TerminaTest-Demi";
}
.HeroSection .overlayAboutCard .contanier .mission p span {
  color: #727272;
  margin-bottom: 14px;
  display: inline-block;
  font-size: 14px;
}
.HeroSection .overlayAboutCard .contanier .imgAbout {
  width: 100%;
  height: auto;
}
.HeroSection .overlayAboutCard .contanier .about_summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 12px;
}
.HeroSection .overlayAboutCard .contanier .about_summary .heading {
  color: #727272;
  font-weight: 500;
  font-family: "TerminaTest-Demi";
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  border-radius: 12px 12px 0 0;
}
.HeroSection .overlayAboutCard .contanier .about_summary .content {
  gap: 1.5rem;
  background-color: #f7f7f7;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  flex-direction: column;
  padding: 1.25rem;
  display: flex;
}
.HeroSection .overlayAboutCard .contanier .about_summary .content .item {
  gap: 0.75rem;
  display: flex;
}
.HeroSection .overlayAboutCard .contanier .about_summary .content .item img {
  width: 18px !important;
  height: 18px !important;
}
.HeroSection .overlayAboutCard .contanier .about_summary .content .item .texts {
  gap: 0.125rem;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.HeroSection
  .overlayAboutCard
  .contanier
  .about_summary
  .content
  .item
  .texts
  p:nth-child(1) {
  color: black;
  font-family: "TerminaTest-Medium";
}
.HeroSection
  .overlayAboutCard
  .contanier
  .about_summary
  .content
  .item
  .texts
  p:nth-child(2) {
  font-weight: 500;
  color: #8c8c8c;
  font-family: "LufgaRegular";
  font-size: 13px;
}
/* ---------------- Overlay Plans Card ---------------- */
.HeroSection .overlayPlansCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayPlansCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayPlansCard .contanier {
  background-color: white;
  padding: max(1rem, min(4rem, 5vw));
  cursor: default;
  width: 100%;
  max-width: 36.25rem;
  min-height: 46rem;
  height: 46rem;
  border-radius: 30px;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  gap: 1.5rem;
}
.HeroSection .overlayPlansCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection.ar .overlayPlansCard .contanier {
  direction: rtl;
}
.HeroSection .overlayPlansCard .contanier::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.HeroSection .overlayPlansCard .contanier .checkList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.HeroSection .overlayPlansCard .contanier .checkList .heading {
  width: 100%;
  background-color: #ededed;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  font-family: "TerminaTest-Demi";
}
.HeroSection .overlayPlansCard .contanier .checkList .content {
  width: 100%;
  gap: 0.75rem;
  background-color: #f7f7f7;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  flex-direction: column;
  padding: 1.25rem;
  display: flex;
}
.HeroSection .overlayPlansCard .contanier .checkList .content .item {
  gap: 0.75rem;
  display: flex;
}
.HeroSection .overlayPlansCard .contanier .checkList .content .item img {
  width: 18px !important;
  height: 18px !important;
}
.HeroSection .overlayPlansCard .contanier .checkList .content .item p {
  font-size: 13px;
}
.HeroSection .overlayPlansCard .contanier .headText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.HeroSection .overlayPlansCard .contanier .headText p {
  line-height: 1;
}
.HeroSection .overlayPlansCard .contanier .headText p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "TerminaTest-Demi";
  text-align: center;
}
.HeroSection .overlayPlansCard .contanier h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "TerminaTest-Demi";
  margin-top: 1rem;
}
.HeroSection .overlayPlansCard .contanier .plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.5rem;
}
.HeroSection .overlayPlansCard .contanier .plans .plan {
  gap: 1.25rem;
  border: 2px solid #f1f1f1;
  border-radius: 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  display: flex;
}
.HeroSection .overlayPlansCard .contanier .plans .joinLYERZPlan {
  grid-column-start: 1;
  grid-column-end: 3;
}
.HeroSection .overlayPlansCard .contanier .plans .plan .pricingTag {
  border-radius: 50px;
  padding: 0.3rem 0.7rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingTag:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: black;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingTag:nth-child(1)
  img {
  width: auto;
  height: 15px;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan:nth-child(2)
  .pricingTag {
  background-color: #fcb9ab;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan:nth-child(3)
  .pricingTag {
  background-color: #f1f1f1;
}
.HeroSection .overlayPlansCard .contanier .plans .plan .pricingContent {
  gap: 1rem;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.HeroSection .overlayPlansCard .contanier .plans .plan .pricingContent p {
  font-size: 14px;
  line-height: 1.1;
}
.HeroSection .overlayPlansCard .contanier .plans .plan .pricingContent .hr {
  width: 100%;
  height: 1px;
  background-color: #c8c8c8;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .Image {
  position: relative;
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .Image
  .infoOverlay {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -155%);
  background-color: #1b1b1b;
  color: white;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s 0.1s linear, opacity 0.2s linear;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .Image
  .infoOverlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #1b1b1b;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .Image
  img:hover
  + .infoOverlay {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s linear, opacity 0.2s 0.1s linear;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .Image
  img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  img {
  width: 20px !important;
  height: 20px !important;
  vertical-align: top;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  img:nth-child(3) {
  cursor: pointer;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  p {
  width: 100%;
  font-size: 13px;
  color: #000 !important;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  .pricingPoint
  .spase {
  width: 20px;
  height: 20px;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  p:nth-child(1) {
  font-size: 1.5rem;
  font-family: "TerminaTest-Demi";
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  p:nth-child(1)
  span {
  font-size: 1rem;
  font-weight: 600;
  color: #727272;
}
.HeroSection
  .overlayPlansCard
  .contanier
  .plans
  .plan
  .pricingContent
  p:nth-child(2) {
  color: #727272;
}
.HeroSection .overlayPlansCard .contanier .plans .plan button {
  position: relative;
  font-family: "TerminaTest-Medium";
  width: 100%;
  padding: 10px 20px;
  border-radius: 9px;
  background-color: #ebebeb;
  color: black;
  transition: 0.35s;
  overflow: hidden;
}
.HeroSection .overlayPlansCard .contanier .plans .plan button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.HeroSection .overlayPlansCard .contanier .faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
}
.HeroSection .overlayPlansCard .contanier .faq .heading {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "TerminaTest-Demi";
}
.HeroSection .overlayPlansCard .contanier .faq .content {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  display: flex;
}
.HeroSection .overlayPlansCard .contanier .faq .content .link {
  color: black;
  font-weight: 600;
}
/* --------------------- Button Close Any Overlay --------------------- */
.btnCloseAnyOverlay {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}
.btnCloseAnyOverlay svg {
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
}
/* --------------------- Arabic Styles --------------------- */
.HeroSection.ar .hero_content .headTexts .title span:nth-child(1) p {
  left: -28px;
  top: -20px;
  font-size: 15px;
  right: unset;
}
.HeroSection.ar .hero_content .headTexts .title span:nth-child(1) img {
  left: -25px;
  right: unset;
  transform: scaleX(-1);
}
.HeroSection.ar .hero_content .hero_cards .cardsPlansCard {
  left: -32%;
  right: auto;
}
.HeroSection.ar
  .hero_content
  .hero_cards
  .cardsPlansCard
  .plan_tag:nth-child(1) {
  left: -10%;
}
.HeroSection.ar
  .hero_content
  .hero_cards
  .cardsPlansCard
  .plan_tag:nth-child(3) {
  left: -5%;
}
.HeroSection.ar
  .hero_content
  .hero_cards
  .cardsPlansCard.active
  .plan_tag:nth-child(1) {
  transform: rotate(2deg);
}
/* ---------------- Responsive Styles ---------------- */
/* ---------------- 1199.98px ---------------- */
@media (max-width: 1199.98px) {
  /* for large devices */
  .HeroSection .overlayServicesCard,
  .HeroSection .overlayPlansCard,
  .HeroSection .overlayAboutCard,
  .HeroSection .overlayWorkCard {
    /* position: fixed; */
    padding: 1rem;
    height: 100dvh;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* for large devices */
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* for medium devices */
}
/* ---------------- 768px ---------------- */
@media (max-width: 768px) {
  /* for small devices */
  .HeroSection .hero_content {
    padding: 0 5%;
  }
  .HeroSection .hero_content .hero_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 0.4rem;
  }
  .HeroSection .hero_content .hero_cards .cardsPlansCard,
  .HeroSection .imagesWorkCard,
  .HeroSection .cardsServicesCard,
  .HeroSection .cardsAboutCard {
    display: none;
  }
  .HeroSection .hero_content .hero_cards .card {
    gap: 0.5rem;
  }
  .HeroSection .hero_content .hero_cards .card img {
    height: 5rem;
  }
  .HeroSection .hero_content .hero_cards .card p {
    font-size: 14px;
  }
  .HeroSection .hero_content .headTexts {
    gap: 1rem;
  }
  .HeroSection .hero_content .headTexts .heading h2 {
    font-size: 1.2rem;
  }
  .HeroSection .hero_content .headTexts .title span {
    font-size: 13px;
  }
  .HeroSection .hero_content .headTexts .title span:nth-child(1) p {
    right: -30px;
  }
  .HeroSection .hero_content .headTexts .title .ourPartners {
    width: 100%;
  }
  .HeroSection .overlayWorkCard,
  .HeroSection .overlayServicesCard,
  .HeroSection .overlayPlansCard,
  .HeroSection .overlayAboutCard {
    align-items: flex-start;
  }
  .HeroSection .overlayWorkCard .contanier,
  .HeroSection .overlayServicesCard .contanier,
  .HeroSection .overlayPlansCard .contanier,
  .HeroSection .overlayAboutCard .contanier {
    height: 100%;
    min-height: unset;
    overflow-x: hidden;
    border-radius: 20px;
  }
  .HeroSection .overlayServicesCard,
  .HeroSection .overlayPlansCard,
  .HeroSection .overlayAboutCard {
    padding: 0;
  }
  .HeroSection .overlayServicesCard .contanier,
  .HeroSection .overlayPlansCard .contanier,
  .HeroSection .overlayAboutCard .contanier {
    padding-top: 3rem;
    width: 100%;
    max-width: unset;
    border-radius: 0;
  }
  .HeroSection .overlayWorkCard .contanier {
    border-radius: 20px;
    padding-top: 3rem;
  }

  .HeroSection .overlayPlansCard .contanier .plans {
    grid-template-columns: repeat(1, 1fr);
  }
  .HeroSection .overlayPlansCard .contanier .plans .joinLYERZPlan {
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .HeroSection
    .overlayPlansCard
    .contanier
    .plans
    .plan
    .pricingContent
    p:nth-child(1),
  .HeroSection .overlayPlansCard .contanier .faq .heading,
  .HeroSection .overlayPlansCard .contanier h2,
  .HeroSection .overlayPlansCard .contanier .headText p:nth-child(1) {
    font-size: 20px;
  }
  .HeroSection
    .overlayPlansCard
    .contanier
    .plans
    .plan
    .pricingContent
    p:nth-child(1)
    span {
    font-size: 13px;
  }
  .HeroSection
    .overlayPlansCard
    .contanier
    .plans
    .plan
    .pricingContent
    .pricingPoint
    .Image
    .infoOverlay {
    top: 50%;
    left: 0;
    transform: translate(-105%, -50%);
  }
  .HeroSection
    .overlayPlansCard
    .contanier
    .plans
    .plan
    .pricingContent
    .pricingPoint
    .Image
    .infoOverlay
    br {
    display: none;
  }
  .HeroSection
    .overlayPlansCard
    .contanier
    .plans
    .plan
    .pricingContent
    .pricingPoint
    .Image
    .infoOverlay::before {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    bottom: unset;
  }
  .HeroSection .overlayPlansCard .contanier .headText p {
    font-size: 13px;
    text-align: center;
  }
  .HeroSection .overlayPlansCard .contanier .checkList .content .item img {
    width: 15px !important;
    height: 15px !important;
  }
  .HeroSection .overlayAboutCard .contanier .headTexts h2,
  .HeroSection .overlayServicesCard .contanier .head h2 {
    font-size: 18px;
  }
  .HeroSection .overlayServicesCard .contanier .head ul li,
  .HeroSection .overlayAboutCard .contanier .headTexts p,
  .HeroSection .overlayServicesCard .contanier .head p {
    font-size: 13px;
  }
  .HeroSection .overlayAboutCard .contanier .mission {
    gap: 1rem;
  }
  .HeroSection .overlayAboutCard .contanier .mission h2 {
    font-size: 18px;
  }
  .HeroSection .overlayAboutCard .contanier .mission p span {
    font-size: 13px;
  }
  .HeroSection .overlayAboutCard .contanier .about_summary .heading,
  .HeroSection
    .overlayAboutCard
    .contanier
    .about_summary
    .content
    .item
    .texts
    p:nth-child(1) {
    font-size: 14px;
  }
  .HeroSection
    .overlayAboutCard
    .contanier
    .about_summary
    .content
    .item
    .texts
    p:nth-child(2) {
    font-size: 12px;
  }
  .btnCloseAnyOverlay.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s linear, opacity 0.2s linear;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* for small devices */
}
/* ---------------- 576px ---------------- */
@media (max-width: 575.98px) {
  /* for extra small devices */
  .HeroSection .hero_content .headTexts .title span:nth-child(1) img {
    right: 30%;
    top: unset;
    bottom: -14px;
    transform: scaleY(-1) rotate(-90deg);
    width: 14px;
  }
  .HeroSection .hero_content .headTexts .title span:nth-child(1) p {
    left: 50%;
    top: unset;
    bottom: -19px;
    transform: translateX(-50%);
  }
  .HeroSection .hero_content .headTexts .title span:nth-child(1) p {
    font-size: 17px;
  }
  .HeroSection .substituteFooter {
    height: 78px;
  }
  .HeroSection .overlayAboutCard .contanier .about_teamCards {
    columns: 1;
  }
}
