/* ---------------- Font ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* ---------------- Page ---------------- */
.page {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Tajawal", sans-serif !important;
}
/* ---------------- HeroSection ---------------- */
.HeroSection {
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  background-color: white;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Tajawal", sans-serif !important;
  position: relative;
}
.HeroSection .hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.HeroSection .hero_content h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.HeroSection .hero_content h2 span {
  color: #a7a7a7;
}
.HeroSection .hero_content .hero_cards {
  gap: 0.75rem;
  width: 47rem;
  height: 13rem;
  display: flex;
  position: relative;
  z-index: 99;
}
.HeroSection .hero_content .hero_cards .card {
  border: 2px solid #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 20px;
  flex: 1 1 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  font-family: "Tajawal", sans-serif !important;
  cursor: pointer;
}
.HeroSection .hero_content .hero_cards .card:hover {
  flex: 1.3 1.3 0;
}
.HeroSection .hero_content .hero_cards .card img {
  pointer-events: none;
  height: 100%;
  object-fit: contain;
}
.HeroSection .hero_content .hero_cards .card p {
  color: #3a3a3a;
  font-size: 17px;
  font-weight: 600;
}
/* ---------------- imagesWorkCard ---------------- */
.HeroSection .imagesWorkCard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: visibility 0s 0.52s linear;
}
.HeroSection .imagesWorkCard.active {
  visibility: visible;
  transition: visibility 0s;
}
.HeroSection .imagesWorkCard .image:nth-child(1) {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 9%;
  bottom: auto;
  left: 6%;
  right: auto;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(2) {
  position: absolute;
  width: 20vw;
  height: auto;
  top: 8%;
  bottom: auto;
  left: auto;
  right: 5%;
  opacity: 0;
  transition: opacity 0.3s 0.05s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(3) {
  width: 30vw;
  position: absolute;
  height: auto;
  top: auto;
  bottom: -3%;
  left: 4%;
  right: auto;
  opacity: 0;
  transition: opacity 0.3s 0.1s linear;
}
.HeroSection .imagesWorkCard .image:nth-child(4) {
  width: 20vw;
  position: absolute;
  height: auto;
  top: auto;
  bottom: 6%;
  left: auto;
  right: 7%;
  transform: rotate(4deg);
  opacity: 0;
  transition: opacity 0.3s 0.15s linear;
}
.HeroSection .imagesWorkCard.active .image:nth-child(1),
.HeroSection .imagesWorkCard.active .image:nth-child(2),
.HeroSection .imagesWorkCard.active .image:nth-child(3),
.HeroSection .imagesWorkCard.active .image:nth-child(4) {
  opacity: 1;
}
.HeroSection .imagesWorkCard .image img {
  width: 100%;
  height: 100%;
}
.HeroSection .imagesWorkCard .image {
  position: absolute;
}
.HeroSection .imagesWorkCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 15%, #fff);
}
/* ---------------- cardsServicesCard ---------------- */
.HeroSection .cardsServicesCard {
  gap: 0.5rem;
  /* background-color: white; */
  width: 53rem;
  height: 13rem;
  position: absolute;
  top: auto;
  bottom: 3%;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0s 0.5s linear;
}
.HeroSection .cardsServicesCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .cardsServicesCard .card {
  gap: 1.5rem;
  background-image: linear-gradient(52deg, #f1f1f1, #f7f7f7);
  border-radius: 20px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 3.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s linear;
  opacity: 0;
  transform: translateY(40px);
}
.HeroSection .cardsServicesCard .card p {
  line-height: 1.25;
  align-self: stretch;
  text-align: start;
}
.HeroSection .cardsServicesCard .card:nth-child(3) p br {
  /* display: none; */
}
.HeroSection.ar .cardsServicesCard .card p {
  text-align: end;
}
.HeroSection .cardsServicesCard .card img {
  border-radius: 12px;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
.HeroSection .cardsServicesCard .card:nth-child(3) img:nth-child(3) {
  border-radius: 12px;
  width: 2.5rem;
  position: absolute;
  top: 52%;
  bottom: auto;
  left: auto;
  right: 3%;
}
.HeroSection .cardsServicesCard .card:nth-child(1) {
  transition: transform 0.3s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.05s linear;
}
.HeroSection .cardsServicesCard .card:nth-child(2) {
  transition: transform 0.3s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.1s linear;
}
.HeroSection .cardsServicesCard .card:nth-child(3) {
  transition: transform 0.3s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.15s linear;
}
.HeroSection .cardsServicesCard.active .card {
  transform: translateY(0);
  opacity: 1;
}
/* ---------------- cardsServicesCard ---------------- */
.HeroSection .cardsAboutCard {
  width: 100%;
  max-width: 51rem;
  height: 35vh;
  /* display: none; */
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0s linear;
}
.HeroSection .cardsAboutCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .cardsAboutCard .image:nth-child(1) {
  border-radius: 14px;
  width: 11.25rem;
  height: 15rem;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.5s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(2) {
  border-radius: 14px;
  width: 11.5rem;
  height: 6rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: 9%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.5s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(3) {
  border-radius: 14px;
  width: 11.25rem;
  height: 15rem;
  position: absolute;
  top: auto;
  bottom: 22%;
  left: auto;
  right: 11%;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(4) {
  border-radius: 14px;
  width: 11.25rem;
  height: 10rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: auto;
  right: 2%;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.5s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image:nth-child(5) {
  border-radius: 14px;
  height: 18rem;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: 30%;
  right: auto;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.5s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.HeroSection .cardsAboutCard .image img {
  object-fit: cover;
  object-position: 50% 24%;
  width: 100%;
  height: 100%;
}

.HeroSection .cardsAboutCard.active .image:nth-child(1),
.HeroSection .cardsAboutCard.active .image:nth-child(2),
.HeroSection .cardsAboutCard.active .image:nth-child(3),
.HeroSection .cardsAboutCard.active .image:nth-child(4),
.HeroSection .cardsAboutCard.active .image:nth-child(5) {
  transform: translateY(0);
  opacity: 1;
}
/* ---------------- cardsPlansCard ---------------- */
.HeroSection .hero_content .hero_cards .cardsPlansCard {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 30%;
  bottom: auto;
  left: auto;
  right: -32%;
  visibility: hidden;
  transition: visibility 0s 0.3s linear;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard.active {
  visibility: visible;
  transition: visibility 0s linear;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag {
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  width: 100%;
  opacity: 0;
  align-self: stretch;
  text-align: start;
}
.HeroSection.ar .hero_content .hero_cards .cardsPlansCard .plan_tag {
  text-align: end;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard.active .plan_tag {
  opacity: 1;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(1) {
  z-index: 3;
  background-color: #f1f1f1;
  left: 10%;
  transition: 0.5s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(2) {
  z-index: 2;
  background-color: #ffe2c3;
  transition: 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(3) {
  z-index: 1;
  background-color: #dfd2fd;
  transition: 0.5s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 5%;
}
.HeroSection .hero_content .hero_cards .cardsPlansCard .plan_tag:nth-child(4) {
  left: 10%;
  z-index: 1;
  background-color: #d9fce0;
  transition: 0.5s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.HeroSection
  .hero_content
  .hero_cards
  .cardsPlansCard.active
  .plan_tag:nth-child(1) {
  transform: rotate(-2deg);
}
.HeroSection
  .hero_content
  .hero_cards
  .cardsPlansCard.active
  .plan_tag:nth-child(4) {
  transform: rotate(2deg);
}
/* ---------------- Overlay Work Card ---------------- */
.HeroSection .overlayWorkCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayWorkCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayWorkCard .contanier {
  cursor: default;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayWorkCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayWorkCard .contanier::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.HeroSection .overlayWorkCard .contanier::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
/* ---------------- Overlay Services Card ---------------- */
.HeroSection .overlayServicesCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayServicesCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayServicesCard .contanier {
  cursor: default;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayServicesCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayServicesCard .contanier::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.HeroSection .overlayServicesCard .contanier::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
/* ---------------- Overlay About Card ---------------- */
.HeroSection .overlayAboutCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayAboutCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayAboutCard .contanier {
  cursor: default;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayAboutCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayAboutCard .contanier::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.HeroSection .overlayAboutCard .contanier::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
/* ---------------- Overlay Plans Card ---------------- */
.HeroSection .overlayPlansCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s 0.7s linear,
    backdrop-filter 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.HeroSection .overlayPlansCard.active {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  visibility: visible;
  transition: visibility 0s linear,
    backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayPlansCard .contanier {
  cursor: default;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.HeroSection .overlayPlansCard.active .contanier {
  opacity: 1;
  transform: translateY(0);
}
.HeroSection .overlayPlansCard .contanier::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.HeroSection .overlayPlansCard .contanier::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
