@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}
/* ---------------- Arabic Fonts ---------------- */
@font-face {
  font-family: "IBMPlexSansArabic-Regular";
  src: url(/fonts/arabic/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf);
  font-display: swap;
}
/* ---------------- Arabic Fonts ---------------- */
.card {
  gap: 1rem;
  border: 2px solid #f1f1f1;
  background-color: #f7f7f7;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  display: flex;
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.card img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  pointer-events: none;
}
.card .heading {
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  pointer-events: none;
}
.card .heading p {
  text-align: center;
  pointer-events: none;
}
.card .heading p:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  font-family: "TerminaTest-Demi";
}
.card .heading p:nth-child(2) {
  font-size: 13px;
  color: #707070;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
  font-family: "LufgaRegular";
}
.card.active .heading p:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
}
.card .heading p.mobile {
  opacity: 1;
  transform: translateY(0);
}
/* ---------------- Responsive Styles ---------------- */
/* ---------------- 768px ---------------- */
@media (max-width: 768px) {
  /* for small devices */
  .card .heading p:nth-child(1) {
    font-size: 14px;
  }
  .card .heading p:nth-child(2) {
    font-size: 11px;
  }
}
/* --------------------- Arabic Styles --------------------- */
.card.ar .heading p:nth-child(1),
.card.ar .heading p:nth-child(2) {
  font-family: "IBMPlexSansArabic-Regular";
}
