.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  position: relative;
  z-index: 99;
}
.Footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #ebebeb;
  color: black;
  border-radius: 2rem;
  line-height: 1;
  position: relative;
  height: calc(40px + 1rem);
}
.Footer button .image {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
}
.Footer button:hover .image {
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
}
.Footer button .image img {
  height: 100%;
  width: 100%;
}
.Footer button span {
  margin-left: calc(40px + 1.5rem);
  margin-right: 1.5rem;
  font-size: 1.3rem;
  line-height: 1;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.Footer button:hover span {
  position: relative;
  transform: translateX(-20px);
  opacity: 0;
}
.Footer p {
  text-align: center;
  font-weight: 600;
  line-height: 1rem;
  color: rgba(34, 34, 34, 0.6);
  font-size: 0.75rem;
}
.Footer button .menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  border-radius: 2rem;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.3s 0.3s linear;
}
.Footer button.active .menu {
  transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.3s linear;
  visibility: visible;
  padding: 1rem 0;
  z-index: 2;
  cursor: default;
}
.Footer button .menu .link {
  padding: 1rem 0;
  font-size: 1.3rem;
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
}
.Footer button .menu .link.link:nth-child(2) {
  transition: transform 0.3s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(3) {
  transition: transform 0.3s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(4) {
  transition: transform 0.3s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(5) {
  transition: transform 0.3s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(6) {
  transition: transform 0.3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button.active .menu .link {
  opacity: 1;
  transform: translateY(0);
}
.Footer button .menu .backGroundLink {
  position: absolute;
  height: 52.8px;
  width: 100%;
  background-color: #c5c5c5;
  bottom: 1rem;
  left: 0;
  margin: 0;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 1rem;
  display: none;
}
.Footer button.active .menu .backGroundLink {
  display: inline-block;
}
.Footer button .menu .backGroundLink.link1 {
  transform: translateY(-400%) !important;
}
.Footer button .menu .backGroundLink.link2 {
  transform: translateY(-300%) !important;
}
.Footer button .menu .backGroundLink.link3 {
  transform: translateY(-200%) !important;
}
.Footer button .menu .backGroundLink.link4 {
  transform: translateY(-100%) !important;
}
.Footer button .menu .backGroundLink.link5 {
  transform: translateY(0) !important;
}
