/* ---------------- Font ---------------- */
@font-face {
  font-family: "LufgaMedium";
  src: url(/fonts/Lufga/LufgaMedium.ttf);
}
@font-face {
  font-family: "TerminaTest-Demi";
  src: url(/fonts/TerminaTest/TerminaTest-Demi.otf);
}
/* ---------------- Footer ---------------- */
.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  position: relative;
  z-index: 99;
  font-family: "LufgaMedium" !important;
}
.Footer.footer-ar {
  /* background-color: green; */
}
.Footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #ebebeb;
  color: black;
  border-radius: 2rem;
  line-height: 1;
  position: relative;
  font-family: "TerminaTest-Demi" !important;
  font-weight: 400;
  height: calc(40px + 1rem);
}
.Footer button .menuIcon {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.Footer button:hover .menuIcon {
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%) rotate(90deg);
  left: 50%;
}
.Footer button .menuIcon div {
  display: inline-block;
  height: 3px;
  width: 80%;
  background-color: black;
}
.Footer button span {
  margin-left: calc(40px + 1.5rem);
  margin-right: 1.5rem;
  font-size: 1.3rem;
  line-height: 1;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.Footer button:hover span {
  position: relative;
  transform: translateX(-20px);
  opacity: 0;
}
.Footer p {
  text-align: center;
  /* font-weight: 600; */
  line-height: 1rem;
  color: rgba(34, 34, 34, 0.6);
  font-size: 0.75rem;
}
.Footer button .menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  border-radius: 1.5rem;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.3s 0.3s linear;
  font-family: "TerminaTest-Demi" !important;
  padding: 0.5rem 0;
}
.Footer button.active .menu {
  transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.3s linear;
  visibility: visible;
  z-index: 2;
  cursor: default;
}
.Footer button .menu .link {
  padding: 1rem 0;
  font-size: 1.3rem;
  transform: translateY(100%);
  opacity: 0;
  font-family: "TerminaTest-Demi" !important;
  width: 100%;
}
.Footer button .menu .link.link:nth-child(2) {
  transition: transform 0.3s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(3) {
  transition: transform 0.3s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(4) {
  transition: transform 0.3s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(5) {
  transition: transform 0.3s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button .menu .link.link:nth-child(6) {
  transition: transform 0.3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Footer button.active .menu .link {
  opacity: 1;
  transform: translateY(0);
}
.Footer button .menu .backGroundLink {
  position: absolute;
  /* height: 52.8px; */
  width: 100%;
  background-color: transparent;
  bottom: 0.5rem;
  left: 0;
  margin: 0;
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
  border-radius: 1rem;
  visibility: hidden;
  transform: translateY(0);
  transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.25s 0.3s linear;
  opacity: 0;
}
.Footer button.active .menu .backGroundLink {
  opacity: 1;
  background-color: #c5c5c5;
  visibility: visible;
}
.Footer button .menu .backGroundLink.link_1 {
  transform: translateY(-500%) !important;
}
.Footer button .menu .backGroundLink.link_2 {
  transform: translateY(-400%) !important;
}
.Footer button .menu .backGroundLink.link_3 {
  transform: translateY(-300%) !important;
}
.Footer button .menu .backGroundLink.link_4 {
  transform: translateY(-200%) !important;
}
.Footer button .menu .backGroundLink.link_5 {
  transform: translateY(-100%) !important;
}
.Footer button .menu .backGroundLink.link_6 {
  transform: translateY(0) !important;
}
