/* ---------------- Font ---------------- */
@font-face {
  font-family: "TerminaTest-Demi";
  src: url(/fonts/TerminaTest/TerminaTest-Demi.otf);
  font-display: swap;
}
@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}

/* ---------------- NavBar ---------------- */
.NavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.NavBar a {
  position: relative;
  width: 2rem;
  height: 2rem;
  opacity: 0;
}
.NavBar a img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: 0.7s;
}
.NavBar a .NameCompany {
  font-family: "TerminaTest-Demi";
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  transition: 0.7s;
  overflow: hidden;
}
.NavBar a .NameCompany .span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* display: inline-block; */
  transform: translateX(-100%);
  transition: 0.7s;
  width: 75px;
}
/* ------------------ Hover ---------------- */
.NavBar a:hover img {
  transform: translateX(-2.5rem) !important;
}
.NavBar a:hover .NameCompany {
  transform: translate(-20%, -50%);
}
.NavBar a:hover .NameCompany .span {
  transition: 0.7s;
  transform: translateX(0);
}
