/* ---------------- Font ---------------- */
@font-face {
  font-family: "TerminaTest-Regular";
  src: url(/fonts/TerminaTest/TerminaTest-Regular.otf);
  font-display: swap;
}
@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}
/* ---------------- Question Styles ---------------- */
.container {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
  border: 2px solid #f1f1f1;
  padding: 1.25rem 1.5rem;
  transition: 0.5s 0.4s;
}
.container.active {
  transition: 0.5s;
}
.container .question {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  transition: 0.5s 0.5s;
  gap: 1rem;
}
.container.active .question {
  transition: 0.5s;
  margin-bottom: 1rem;
}
.container .question h4 {
  font-family: "LufgaRegular";
  font-size: 16px;
  width: 100%;
}
.container .question svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.5s;
}
.container.active .question svg {
  transform: rotate(-45deg);
}
.container p {
  color: #373737;
  font-weight: 500;
  line-height: 1.1;
  font-family: "LufgaRegular";
  font-size: 14px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s 0s;
}
.container.active p {
  transition: 0.5s 0.4s;
  opacity: 1;
  transform: translateY(0);
}
