/* ---------------- Font ---------------- */
@font-face {
  font-family: "TerminaTest-Medium";
  src: url(/fonts/TerminaTest/TerminaTest-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}
/* ---------------- Arabic Fonts ---------------- */
@font-face {
  font-family: "IBMPlexSansArabic-Regular";
  src: url(/fonts/arabic/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "TheYearofTheCamel-ExtraBold";
  src: url(/fonts/arabic/TheYearofTheCamel/TheYearofTheCamel-ExtraBold.otf);
  font-display: swap;
}
/* ---------------- Service ---------------- */
.service {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* flex: 1 1; */
  overflow: hidden;
  transition: 0.3s;
  border: 2px solid #f1f1f1;
  width: 100%;
}
.service .top {
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  display: flex;
  pointer-events: none;
  padding: 1.25rem 1.5rem;
}
.service .top p {
  font-family: "TerminaTest-Medium";
}
.service .top svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.5s;
}
.service.active .top svg {
  transform: rotate(135deg);
}
.service .bottom {
  gap: 2rem;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  /* overflow: hidden; */
  /* height: 100px !important; */
}
.service .bottom p {
  color: #373737;
  font-weight: 500;
  line-height: 1.25;
  font-family: "LufgaRegular";
  font-size: 13px;
}
.service .bottom .image {
  height: 10rem;
}
.service .bottom .image img {
  object-fit: cover;
  object-position: 50% 0%;
  width: 100%;
  height: 10rem;
}
/* ---------------- Responsive Styles ---------------- */
/* ---------------- 768px ---------------- */
@media (max-width: 768px) {
  /* for small devices */
  .service .top {
    padding: 1rem 1.25rem;
  }
  .service .top p {
    font-size: 14px;
  }
  .service .bottom p {
    font-size: 11px;
  }
}
/* --------------------- Arabic Styles --------------------- */
.service.ar .top p {
  font-family: "TheYearofTheCamel-ExtraBold";
}
.service.ar .bottom p {
  font-family: "IBMPlexSansArabic-Regular";
}
