/* ---------------- Font ---------------- */
@font-face {
  font-family: "TerminaTest-Demi";
  src: url(/fonts/TerminaTest/TerminaTest-Demi.otf);
  font-display: swap;
}
@font-face {
  font-family: "TerminaTest-Medium";
  src: url(/fonts/TerminaTest/TerminaTest-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: "LufgaRegular";
  src: url(/fonts/Lufga/LufgaRegular.ttf);
  font-display: swap;
}
/* ---------------- Table ---------------- */
.table {
  background-color: #f7f7f7;
  border: 2px solid #f1f1f1;
  border-radius: 16px;
  padding: 1rem;
  width: 100%;
  /* gap: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.table .header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr 0.75fr;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}
.table .header .lyerz {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
  font-family: "TerminaTest-Demi";
  background-color: #dddddd;
  border-radius: 10px 10px 0 0;
}
.table .header h2,
.table .header .lyerz {
  padding-block: 1rem;
  font-size: 18px;
  height: 100%;
  border-bottom: 2px solid #c4c4c4;
}
.table .header .lyerz p {
  position: relative;
}
.table .header .lyerz p span {
  font-size: 5px;
  position: absolute;
  top: 0;
  right: -7px;
  font-weight: 600;
  font-family: "LufgaRegular";
}
.table .row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr 0.75fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.table .header div:nth-child(1),
.table .row p:nth-child(1) {
  text-align: left;
  margin-right: 1rem;
  font-weight: 600;
}
.table .row div:nth-child(2) {
  background-color: #dddddd;
}
.table .row p,
.table .row div {
  font-size: 14px;
  padding-block: 0.75rem;
}
.table .row div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #c4c4c4;
}
/* ---------------- Responsive Styles ---------------- */
/* ---------------- 768px ---------------- */
@media (max-width: 768px) {
  /* for small devices */
  .table .header div:nth-child(1),
  .table .row p:nth-child(1) {
    display: none;
  }
  .table .header,
  .table .row {
    grid-template-columns: repeat(3, 1fr);
  }
  .table .row div img {
    height: 9px;
    width: auto;
  }
  .table .row div {
    font-size: 12px;
  }
  .table .header h2,
  .table .header .lyerz {
    font-size: 16px;
  }
}
